PORT=4000
FRONTEND_URL=http://localhost:3000

DATABASE_URL=your-local-db-url
JWT_SECRET=your-local-secret

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

REDIS_URI=http://localhost:6379
WINDOWS_REDIS_URL=redis://127.0.0.1:6379

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=